<% page_heading 'Prüfung bearbeiten' %>


<div class="clearfix spacer">
  <%= form_for [@old_folder, @old_exam], html: {class: 'form-horizontal', role: 'form'} do |f| %>
      <% if @old_exam.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@old_exam.errors.count, 'error') %> prohibited
              this article from being saved:
            </h2>
            <ul>
              <% @old_exam.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group row">
        <%= f.label :old_folder, 'Ordner', :class => 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.hidden_field :old_folder_id, :class => 'form-control' %>
          <%= label_tag :old_folder, @old_exam.old_folder.title, :readonly => true, :class => 'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :title, 'Veranstaltungen', :class => 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :title, :required => true, :class => 'form-control', autofocus: true, :autocomplete => :off %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :examiners, 'Prüfer', :class => 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.text_field :examiners, :required => true, :class => 'form-control', :autocomplete => :off %>
        </div>
      </div>
      <div class="form-group row">
        <%= f.label :date, 'Datum', :class => 'control-label col-sm-2' %>
        <div class="col-sm-10">
          <%= f.date_select :date, :required => true, :class => 'form-control' %>
        </div>
      </div>
      <div class="pull-right">
        <div class="form-group row">
          <div class="col-sm-2">
            <%= f.submit 'Prüfung speichern', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
  <% end %>

</div>