<div>
  <%= page_heading 'Pr端fungen' %>


  <%= form_tag old_exams_path, method: 'get', :class => 'form-inline', :role => 'form' do %>
      <div class="form-group">
        <%= label_tag :search, 'Pr端fung filtern:', :class => 'control-label' %>
        <%= text_field_tag :search, params[:search], :class => 'form-control', autofocus: true %>
      </div>
      <%= submit_tag 'Filtern', :class => 'btn btn-primary' %>
      <%= submit_tag 'Zur端cksetzen', :id => 'reset_button', :name => 'reset', :class => 'btn' %>
      <%= link_to 'Nur fehlerhafte Pr端fungen anzeigen.', exams_broken_encodings_path, class: "btn btn-link pull-right" %>

  <% end %>

  <%= render 'old_exams/exams_table' %>
</div>