<div>
  <%= page_heading 'Fehlerhafte Prüfungen' %>

  <p>Das alte Tool hat weder UTF-8 korrekt unterstützt, noch Daten validiert. Diese Seite listet alle hiervon
    betroffenen Prüfungen auf.</p>
  <p>Bei invalidaten Daten wird das Datum aus der Datenbank in Klammern angezeigt.</p>
  <div class="spacer pull-left">
    <% if @old_exams.size > 0 %>
        <table class="table table-hover">
          <tr>
            <th>Veranstaltungen</th>
            <th>Prüfer</th>
            <th>Datum</th>
            <th>Ordner</th>
            <th></th>
          </tr>

          <% @old_exams.each do |e| %>
              <tr>
                <td><%= e.title %></td>
                <td><%= e.examiners %></td>
                <td>
                  <% if e.date %>
                      <%= e.date %>
                  <% else %>
                      (<%= e.read_attribute_before_type_cast('date') %>)
                  <% end %>
                </td>
                <td><%= link_to e.old_folder.title, e.old_folder %></td>
                <td>
                  <%= link_to 'Anzeigen', old_exam_path(e) %>,
                  <%= link_to 'Bearbeiten', edit_old_exam_path(e) %>
                </td>
              </tr>
          <% end %>
        </table>

    <% else %>
        <p>Keine Prüfungen gefunden.</p>
    <% end %>
  </div>
</div>