<%= form_for @lecture do |l| %>

  <% if @lecture.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@lecture.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @lecture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
  <p>
  <%= l.label "Name:" %> <%= l.text_field :name %>
  </p>
  <!--
  Alternative names are hidden until needed
  <p>
    <%= l.label "Alternative Names:" %><br>
    <%= l.text_area :alternativeNames %><br>
    Alternative names are old names or so...
  </p>
  -->

  <p>
    <%= l.submit %>
  </p>

<% end %>
