<div>
	<h2>Exemplare</h2>
	
	<%= render "old_folder_instances/instance_list", instances: @old_folder.old_folder_instances %>
	<% if @old_folder.old_folder_instances.count < 9 %>


	<%= form_for([@old_folder, @old_folder.old_folder_instances.build]) do |f| %>
	<h2>Neues Exemplar</h2>
	<p>
		<%= f.label :number %>
		<%= f.number_field :number, :min => 1, :max => 9, :step => 1, :length => 1 %>
		<%= f.submit "Exemplar anlegen" %>
	</p>
	<p class="hint">Bereits existierende Exemplar-Nummern werden stillschweigend ignoriert.</p>
	<% end %>


	<% end %>
</div>