<%= form_for @old_folder do |f| %>
<%= render 'error_header' %>

<table>
	<%= render 'basic_form_elements', f: f %>
	<tr>
		<td><%= f.label "Count" %></td>
		<td><%= number_field_tag("count", 1, min: 1, max: 9, step: 1) %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.button :submit %>
		</td>
	</tr>
</table>
<% end %>