<% page_heading "Ordnergruppe bearbeiten" %>

<div>
	<%= form_for @old_folder do |f| %>
	<%= render 'error_header' %>

	<table>
		<tr>
			<td><%= f.label "Name" %></td>
			<td><%= f.text_field :title %></td>
		</tr>
		<tr>
			<td><%= f.label "Inhalt" %></td>
			<td><%= f.select(:contentType, options_for_select(OldFolder::CONTENT_TYPES)) %></td>
		</tr>
		<tr>
			<td><%= f.label "Gebiet" %></td>
			<td><%= f.select(:area, options_for_select(OldFolder::AREAS)) %></td>
		</tr>
		<tr>
			<td><%= f.label "Farbe" %></td>
      <td><%= f.select :color, OldFolder.color_names_for_select %></td>
		</tr>
		<tr>
			<td></td>
			<td><%= f.submit "Änderungen übernehmen"  %>
			</td>
		</tr>
	</table>
	<% end %>
</div>

<%= render "contained_instances" %>