<% page_heading "Ordnergruppen" %>

<div>
<table class="table">
	<tr>
    <th></th>
		<th>Gruppen-Name</th>
		<th>Inhalt</th>
		<th>Gebiet</th>
		<th></th>
	</tr>

	<% @old_folders.each do |old_folder| %>
	<tr>
    <td style="background-color: <%= old_folder.css_color %>"></td>
    <td><%= link_to old_folder.title, old_folder %></td>
    <td><%= old_folder.contentType %></td>
    <td><%= old_folder.area %></td>
		<td><%= link_to "Bearbeiten", edit_old_folder_path(old_folder) %>
		</td>
	</tr>
	<% end %>
</table>
</div>
