<% page_heading 'Ordnergruppen' %>


<%= form_tag old_folders_path, method: 'get', :class => 'form-inline' do %>
    <div class="form-group">
      <%= label_tag :search, 'Ordner suchen:' %>
      <%= text_field_tag :search, params[:search], :class => 'form-control', autofocus: true  %>
      <%= submit_tag 'Suche', :class => 'btn btn-primary' %>
      <%= submit_tag 'Zurücksetzen', :id => 'reset_button', :name => 'reset', :class => 'btn' %>
    </div>
<% end %>

<% unless @old_folders.nil? %>

    <div>
      <%= will_paginate @old_folders %>

      <table class="table">
        <tr>
          <th></th>
          <th>Gruppen-Name</th>
          <th>Gebiet</th>
          <th>Inhalt</th>
          <th></th>
        </tr>

        <% @old_folders.each do |old_folder| %>
            <tr>
              <td style="background-color: <%= old_folder.css_color %>"></td>
              <td><%= link_to old_folder.title, old_folder %></td>
              <td><%= old_folder.area %></td>
              <td><%= old_folder.contentType %></td>
              <td><%= link_to 'Bearbeiten', edit_old_folder_path(old_folder) %>
              </td>
            </tr>
        <% end %>
      </table>
    </div>

<% else %>
    <div><p>Keine Ordner gefunden.</p></div>
<% end %>
