<ul>
	<li><%= link_to "New", new_old_folder_path %></li>
</ul>

<table>
	<tr>
		<th>Title</th>
		<th>Content-Type</th>
		<th>Area</th>
		<th>Color</th>
		<th>Actions</th>
	</tr>

	<% @old_folders.each do |old_folder| %>
	<tr>
		<td><%= link_to old_folder.title, old_folder %></td>
		<td><%= old_folder.contentType %></td>
		<td><%= old_folder.area %></td>
		<td><%= old_folder.color %></td>
		<td><%= link_to "Edit", edit_old_folder_path(old_folder) %>, 
			<%= link_to "Destroy", old_folder_path(old_folder), method: :delete,
			data: { confirm: 'Are you sure?' } %></td>
		</tr>
		<% end %>
	</table>