<% page_heading 'Neue Ordnergruppe' %>

<%= form_for @old_folder, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <%= render 'error_header' %>

    <div class="form-group row">
      <%= f.label 'Name', :class => 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.text_field :title, :class => 'form-control', autofocus: true %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label 'Inhalt', :class => 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.select :contentType, options_for_select(OldFolder::CONTENT_TYPES), {}, {class: 'form-control'} %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label 'Gebiet', :class => 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.select :area, OldFoldersHelper::View.area_names_for_select, {}, {class: 'form-control'} %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label 'Farbe', :class => 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= f.select :color, OldFoldersHelper::View.color_names_for_select, {}, {class: 'form-control'} %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label 'Anzahl', :class => 'control-label col-sm-2' %>
      <div class="col-sm-10">
        <%= number_field_tag 'count', 1, min: 1, max: 9, step: 1, :class => 'form-control' %>
      </div>
    </div>
    <div class="pull-right">
      <div class="form-group row">
        <div class="col-sm-2">
          <%= f.submit 'Ordnergruppe anlegen', class: 'btn btn-primary' %>
        </div>
      </div>
    </div>

<% end %>