<h1>Ordnergruppen-Details</h1>
<ul class="nav">
	<li><%= link_to "Bearbeiten", edit_old_folder_path %></li>
	<li><%= link_to "Löschen", old_folder_path(@old_folder), method: :delete,
		data: { confirm: 'Dies löscht ALLE verknüpften Exemplare und Klausuren. Wirklich löschen?' } %>
	</li>
</ul>

<div>
	<table>
		<tr>
			<td>Name:</td>
			<td><%= @old_folder.title %></td>
		</tr>
		<tr>
			<td>Inhalt:</td>
			<td><%= @old_folder.contentType %></td>
		</tr>
		<tr>
			<td>Gebiet:</td>
			<td><%= @old_folder.area %></td>
		</tr>
		<tr>
			<td>Farbe:</td>
			<td><%= @old_folder.color %></td>
		</tr>
	</table>
</div>

<%= render "contained_instances" %>

<div>
	<h2>Prüfungen</h2>
	
	<table>
		<tr>
			<th>Veranstaltungen</th>
			<th>Prüfer</th>
			<th>Datum</th>
			<th></th>
		</tr>


		<% @old_folder.old_exams.each do |i| %>
		<tr>
			<td><%= i.title %></td>
			<td><%= i.examiners %></td>
			<td><%= i.date %></td>
			<td><%= link_to "Löschen", [i.old_folder, i], method: :delete,
				data: { confirm: 'Prüfung wirklich löschen?' } %>
			</td>
		</tr>
		<% end %>
	</table>


	<%= form_for([@old_folder, @old_folder.old_exams.build]) do |f| %>
	<h2>Neue Prüfung</h2>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %><br>
		<%= f.label :examiners %>
		<%= f.text_field :examiners %><br>
		<%= f.label :date  %>
		<%= f.date_field :date %><br> 
		<%= f.submit "Prüfung hinzufügen" %>
	</p>

	<% end %>
</div>