<% page_heading 'Details' %>

<div class="full-width">
  <div class="full-width">

    <h2><%= @old_folder.title %></h2>
    <%= link_to 'Bearbeiten', edit_old_folder_path, class: 'pull-right btn btn-default' %>
    <dl>
      <dt>Inhalt</dt>
      <dd><%= @old_folder.contentType %></dd>
      <dt>Gebiet</dt>
      <dd><%= @old_folder.area %></dd>
      <dt>Farbe</dt>
      <dd><%= @old_folder.display_color %></dd>
    </dl>
  </div>

  <div class="full-width spacer">
    <h3>Druck-Aktionen</h3>
    <p>Es werden neue Tabs geöffnet. Bitte Druck-Vorschau bei nicht-PDFs beachten.</p>
    <ul>
      <li><%= link_to 'Inhaltsverzeichnis', old_folders_toc_path(@old_folder), :target => "_blank" %></li>
      <li>
        <% if @old_folder.contains_written_exams? %>
            <%= link_to 'Roter Zettel', asset_path('RoterZettel_Klausuren.pdf') %>
        <% else %>
            <%= link_to 'Roter Zettel', asset_path('RoterZettel_Protokolle.pdf') %>
        <% end %>
      </li>
      <li>Mappen- und Ordner-Cover bei den <a href="#linked-instances">Verknüpften Exemplaren</a>.</li>
    </ul>
  </div>

  <div class="clearfix"></div>
</div>

<%= render 'embedded_folder_information' %>

<div class="clearfix spacer">
  <h2>Ordner löschen</h2>
  <p class="danger">Diese Operation kann nicht rückgängig gemacht werden.</p>
  <%= link_to 'Löschen', old_folder_path(@old_folder), method: :delete, class: 'btn btn-danger',
              data: {confirm: 'Dies löscht ALLE verknüpften Exemplare und Klausuren. Wirklich löschen?'} %>
</div>