<% page_heading 'Details' %>

<div class="full-width">
  <div class="full-width">

    <h2 class="pull-left">Name: <%= @old_folder.title %></h2>
    <%= link_to 'Bearbeiten', edit_old_folder_path, class: 'pull-right btn btn-default' %>
  </div>
  <dl>
    <dt>Inhalt</dt>
    <dd><%= @old_folder.contentType %></dd>
    <dt>Gebiet</dt>
    <dd><%= @old_folder.area %></dd>
    <dt>Farbe</dt>
    <dd><%= @old_folder.color %></dd>
  </dl>
  <div class="clearfix"></div>
</div>

<%= render 'exams_in_folder' %>
<%= render 'folder_instances' %>
<%= render 'embedded_new_exam' %>
<%= render 'old_folder_instances/embedded_new_instance_form' %>

<div class="clearfix spacer">
  <h2>Ordner löschen</h2>
  <p class="danger">Diese Operation kann nicht rückgängig gemacht werden.</p>
  <%= link_to 'Löschen', old_folder_path(@old_folder), method: :delete, class: 'btn btn-danger',
              data: {confirm: 'Dies löscht ALLE verknüpften Exemplare und Klausuren. Wirklich löschen?'} %>
</div>