<ul class="nav">
	<li><%= link_to "All Folders", old_folders_path %></li>
	<li><%= link_to "Edit", edit_old_folder_path %></li>
	<li><%= link_to "Destroy", old_folder_path(@old_folder), method: :delete,
		data: { confirm: 'Are you sure?' } %>
	</li>
</ul>

<div>
	<table>
		<tr>
			<td>Title:</td>
			<td><%= @old_folder.title %></td>
		</tr>
		<tr>
			<td>Contenttype:</td>
			<td><%= @old_folder.contentType %></td>
		</tr>
		<tr>
			<td>Area:</td>
			<td><%= @old_folder.area %></td>
		</tr>
		<tr>
			<td>Color:</td>
			<td><%= @old_folder.color %></td>
		</tr>
	</table>
</div>
<div>
	<ul>
		<% @old_folder.old_folder_instances.each do |i| %>
		<li>Instance <%= i.barcodeId %></li>
		<% end %>
	</ul>
</div>