<% page_heading 'Details' %>

<div class="full-width">
  <div class="full-width">

    <h2 class="pull-left"><%= @old_folder.title %></h2>
    <%= link_to 'Bearbeiten', edit_old_folder_path, class: 'pull-right btn btn-default' %>
  </div>
  <div class="full-width">
    <%= link_to 'Druckbares Inhaltsverzeichnis anzeigen', old_folders_toc_path(@old_folder), class: 'pull-left', :target => "_blank" %>
  </div>
  <dl>
    <dt>Inhalt</dt>
    <dd><%= @old_folder.contentType %></dd>
    <dt>Gebiet</dt>
    <dd><%= @old_folder.area %></dd>
    <dt>Farbe</dt>
    <dd><%= @old_folder.display_color %></dd>
  </dl>
  <div class="clearfix"></div>
</div>

<%= render 'embedded_folder_information' %>

<div class="clearfix spacer">
  <h2>Ordner löschen</h2>
  <p class="danger">Diese Operation kann nicht rückgängig gemacht werden.</p>
  <%= link_to 'Löschen', old_folder_path(@old_folder), method: :delete, class: 'btn btn-danger',
              data: {confirm: 'Dies löscht ALLE verknüpften Exemplare und Klausuren. Wirklich löschen?'} %>
</div>