<h2 id="lend">Verleihen</h2>
<a href="#take-back">Zurücknehmen</a>


<%= form_for @old_lend_out do |f| %>
<% if @old_lend_out.errors.any? %>
<div id="error_explanation">
	<h2>Fehler beim Ausleihen:</h2>
	<ul>
		<% @old_lend_out.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<table>
	<tr>
		<td><%= label_tag "Ordner:" %></td>
		<td><%= text_area_tag(:folder_list, params[:folder_list], rows: 5, cols: 10) %></td>
	</tr>
	<tr>
		<td><%= f.label "Student" %></td>
		<td><%= f.text_field :student %></td>
	</tr>
	<tr>
		<td><%= f.label :imt %></td>
		<td><%= f.text_field :imt %></td>
	</tr>
	<tr>
		<td><%= f.label "Verleiher" %></td>
		<td><%= f.text_field :lender %></td>
	</tr>
	<tr>
		<td><%= f.label "Pfand" %></td>
		<td><%= f.text_field :deposit %></td>
	</tr>
	<tr>
		<td></td>
		<td><%= f.submit "Ordner verleihen"  %>
		</td>
	</tr>
</table>
<% end %>


<h2>Aktuell verliehen</h2>
<%= render "old_lend_outs/currently_lent" %>
