<div class="card shadow">
  <div class="full-width">
    <h3 class="pull-left"><%= old_lend_out.id %> - <%= old_lend_out.imt %></h3>
    <h3 class="pull-right"><span class="<%= color_class_for_lent_since(old_lend_out) %>">Seit <%= lent_since(old_lend_out) %> Tagen verliehen</span></h3>
  </div>
  <div class="full-width">
    <div class="half-width">
      <%= render 'ausleihe/old_lend_out_infos', old_lend_out: old_lend_out %>
    </div>
    <div class="half-width">
      <%= render 'ausleihe/old_lend_out_folder_list', old_lend_out: old_lend_out %>
    </div>
  </div>

  <div class="clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <% if controller_name == "ausleihe" %>
            <li><%= link_to 'Zurücknehmen', returning_form_path(old_folder_instances: [old_lend_out.old_folder_instances.first]), class: 'btn btn-primary' %></li>
        <% end %>

        <% if controller_name == "lendouts" %>
            <li><%= mail_to recipient(old_lend_out), "Erinnerungsmail in externem Programm öffnen", body: body(old_lend_out), cc: cc,
                      subject: subject %>
            </li>
        <% end %>

      </ul>
    </nav>
  </div>

</div>