<%= page_heading 'Prüfungen' %>

<!-- TODO extract this to partial -->
<%= form_tag ausleihe_exams_path, method: 'get', :class => 'form-inline' do %>
    <div class="form-group">
      <%= label_tag :search, 'Prüfungen suchen:', :class => 'control-label' %>
      <%= text_field_tag :search, params[:search], :class => 'form-control', autofocus: true %>
      <%= submit_tag 'Filtern', :class => 'pure-button pure-button-primary' %>
      <%= submit_tag 'Zurücksetzen', :id => 'reset_button', :name => 'reset', :class => 'pure-button' %>
    </div>
<% end %>

<%= render 'old_exams/exams_table' %>