<%= page_heading 'Prüfungen' %>

<!-- TODO extract this to partial -->
<%= form_tag ausleihe_exams_path, method: 'get', :class => 'form-inline' do %>
    <div class="form-group">
      <%= label_tag :search, 'Prüfungen suchen:', :class => 'control-label' %>
      <%= text_field_tag :search, params[:search], :class => 'form-control' %>
      <%= submit_tag 'Filtern', :class => 'btn btn-primary' %>
      <%= submit_tag 'Zurücksetzen', :id => 'reset_button', :name => 'reset', :class => 'btn' %>
    </div>
<% end %>

<div class="clearfix spacer">
  <%= will_paginate @old_exams %>

  <table class="table table-hover">
  <tr>
    <th></th>
    <th>Titel</th>
    <th>Prüfer</th>
    <th>Datum</th>
    <th>Ordner</th>
    <th>Verfügbare Exemplare</th>
  </tr>
  <% @old_exams.each do |e| %>
      <tr>
        <td style="background-color: <%= e.old_folder.css_color %>"></td>
        <td><%= e.title %></td>
        <td><%= e.examiners %></td>
        <td><%= e.date %></td>
        <td><%= link_to e.old_folder.title, ausleihe_folders_path(:search => e.old_folder.title) %></td>
        <td><%= e.old_folder.old_folder_instances.select { |o| o.old_lend_out.nil? }.count %></td>
      </tr>
  <% end %>
</table>
</div>