<%= page_heading "Ordner-Exemplare" %>


<%= form_tag(ausleihe_folders_path, method: "get") do %>
    <%= label_tag(:search, "Ordner suchen:") %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag("Suche") %>
    <%= submit_tag "Zur端cksetzen", :id => 'reset_button', :name => 'reset' %>
<% end %>


<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Inhalt</th>
    <th>Farbe</th>
    <th>Gebiet</th>
    <th>Verf端gbar?</th>
    <th></th>
  </tr>
  <!-- todo Extract "Verf端gbar" from here -->
  <% @old_folder_instances.each do |instance| %>
      <tr>
        <td><%= instance.barcodeId %></td>
        <td><%= instance.old_folder.title %></td>
        <td><%= instance.old_folder.contentType %></td>
        <td style="background-color: <%= instance.old_folder.css_color %>">&nbsp;</td>
        <td><%= instance.old_folder.area %></td>
        <td><%= instance.old_lend_out.nil? ? "Verf端gbar" : "" %></td>
        <td><%= link_to "Verleihen", lending_form_path(old_folder_instances: [instance]) %></td>
      </tr>
  <% end %>
</table>