<%= page_heading 'Ordner-Details' %>

<% if @old_folder.nil? %>
    <p>Kein Ordner mit der ID `<%= params[:id] %>` gefunden.</p>
<% else %>

    <div class="clearfix spacer">
      <div class="full-width">
        <h2 class="pull-left">Verknüpfte Exemplare</h2>
      </div>

      <%= render 'old_folder_instances/instances_table', old_folder_instances: @old_folder.old_folder_instances %>

    </div>

    <div class="clearfix spacer">

      <table class="table table-hover">
        <tr>
          <th>Veranstaltungen</th>
          <th>Prüfer</th>
          <th>Datum</th>
        </tr>


        <% @old_folder.old_exams.each do |e| %>
            <tr>
              <td><%= link_to e.title, e %></td>
              <td><%= e.examiners %></td>
              <td><%= e.date %></td>
            </tr>
        <% end %>
      </table>
    </div>
<% end %>