<%= page_heading 'Ordner-Exemplare' %>

<%= form_tag ausleihe_folders_path, method: 'get', :class => 'form-inline' do %>
    <div class="form-group">
      <%= label_tag :search, 'Ordner suchen:' %>
      <%= text_field_tag :search, params[:search], :class => 'form-control' %>
      <%= submit_tag 'Suche', :class => 'btn btn-primary' %>
      <%= submit_tag 'Zurücksetzen', :id => 'reset_button', :name => 'reset', :class => 'btn' %>
    </div>
<% end %>

<div class="clearfix spacer">

  <table class="table table-hover">
    <tr>
      <th></th>
      <th>Code</th>
      <th>Name</th>
      <th>Inhalt</th>
      <th>Gebiet</th>
      <th></th>
    </tr>
    <!-- todo Extract "Verfügbar" from here -->
    <% @old_folder_instances.each do |instance| %>
        <tr>
          <td style="background-color: <%= instance.old_folder.css_color %>"></td>
          <td><%= instance.barcodeId %></td>
          <td><%= instance.old_folder.title %></td>
          <td><%= instance.old_folder.contentType %></td>
          <td><%= instance.old_folder.area %></td>
          <td>
            <% if instance.old_lend_out.nil? %>
                <%= link_to 'Verleihen', lending_form_path(old_folder_instances: [instance]) %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
</div>