<h1>Ausleihe</h1>
<ul class="nav">
	<li>Zeige Ausgeliehene</li>
	<li>Zeige alle Ordner</li>
	<li>Ordnersuche</li>
	<li>Inhaltssuche</li>
</ul>


<%= form_tag(ausleihe_path, method: "get") do %>
<%= label_tag(:folder_list, "Ausleihen:") %>
<%= text_area_tag(:folder_list, params[:folder_list], rows: 5, cols: 10) %><br>
<% end %>


<p>Folder instances</p>
<ul>
	<% @folder_instances.each do |f| %>
	<li><%= f.barcodeId %> - <%= f.old_folder.title %></li>
	<% end %>
</ul>
<p>Unavailable Folders:</p>
<ul>
	<% @unavailable_folders.each do |f| %>
	<li><%= f.barcodeId %> - <%= f.old_folder.title %></li>
	<% end %>
</ul>
<p>All Available? <%= @all_available %></p>
<p>Lendout: <%= @old_lend_out.inspect %></p>
<p>Reverse:</p>
<ul>
<% @old_lend_out.old_folder_instances.each do |f| %>
<li><%= f.inspect %></li>
<% end %>
</ul>


