<h2 id="lend">Verleihen</h2>


<%= form_for(@old_lend_out, url: lending_action_path) do |f| %>
    <% if @old_lend_out.errors.any? %>
        <div id="error_explanation">
          <h2>Fehler beim Ausleihen:</h2>
          <ul>
            <% @old_lend_out.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <p>Ordner:</p>
    <ul>
      <% @old_lend_out.old_folder_instances.each do |i| %>
          <li><%= i.barcodeId %> - <%= i.old_folder.title %></li>
          <%= hidden_field_tag "old_folder_instances[]", i.id %>
      <% end %>
    </ul>

    <table>
      <tr>
        <td><%= f.label "IMT-Login des Studenten" %></td>
        <td><%= f.text_field :imt, required: true %></td>
      </tr>
      <tr>
        <td><%= f.label "Verleiher" %></td>
        <td><%= f.text_field :lender, required: true %></td>
      </tr>
      <tr>
        <td><%= f.label "Pfand" %></td>
        <td><%= f.text_field :deposit, required: true %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Ordner verleihen" %></td>
      </tr>
    </table>
<% end %>
