<div class="clearfix spacer">
  <% if old_folder_instances.nil? || old_folder_instances.empty? %>
      <p>Keine Ordner gefunden.</p>
  <% else %>
      <% unless @old_folder_instances.nil? %>
          <%= will_paginate @old_folder_instances %>
      <% end %>

      <table class="table table-hover pure-table pure-table-horizontal">
        <thead>
        <tr>
          <th></th>
          <th>Code</th>
          <th>Gruppen-Name</th>
          <th>Gebiet</th>
          <th>Inhalt</th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% old_folder_instances.each do |i| %>
            <tr>
              <td style="background-color: <%= i.old_folder.css_color %>"></td>
              <td><%= i.barcodeId %></td>
              <td>
                <% if controller_name == "ausleihe" %>
                    <%= link_to i.old_folder.title, ausleihe_folder_path(i.old_folder) %>
                <% else %>
                    <%= link_to i.old_folder.title, i.old_folder %>
                <% end %>

              </td>
              <td><%= i.old_folder.area %></td>
              <td><%= i.old_folder.contentType %></td>

              <td>
                <% if controller_name == "ausleihe" %>
                    <% if i.old_lend_out.nil? %>
                        <%= link_to 'Verleihen', lending_form_path(old_folder_instances: [i]) %>
                    <% end %>

                <% elsif controller_name == "old_folder_instances" %>
                    <% if i.is_deletable? %>
                        <%= link_to 'Löschen', [i.old_folder, i], method: :delete,
                                    data: {confirm: 'Ordner-Exemplar wirklich löschen?'} %>
                    <% end %>

                <% elsif controller_name == "old_folders" %>
                    <%= link_to "Cover drucken", cover_path(i.barcodeId), :target => "_blank" %>

                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% end %>
</div>
