<% page_heading 'Alle Ordner-Exemplare' %>

<%= form_tag old_folder_instances_path, method: 'get', :class => 'form-inline' do %>
    <div class="form-group">
      <%= label_tag :search, 'Ordner suchen:' %>
      <%= text_field_tag :search, params[:search], :class => 'form-control', autofocus: true  %>
      <%= submit_tag 'Suche', :class => 'btn btn-primary' %>
      <%= submit_tag 'Zurücksetzen', :id => 'reset_button', :name => 'reset', :class => 'btn' %>
    </div>
<% end %>

<%= render 'old_folder_instances/instances_table', old_folder_instances: @old_folder_instances %>