<!DOCTYPE html>
<html>
<head>
  <title>KlausurtoolRor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul class="nav">
<li><%= link_to "Lectures", lectures_path %></li>
<li><%= link_to "Examiners", examiners_path %></li>
</ul>

<%= yield %>

</body>
</html>
