<main class="center">
  <h1><%= page_title %></h1>

  <%= render 'header' %>
  <!--<nav><ul class="nav nav-pills"></ul></nav>-->
  <%= render 'flashes' %>


  <%= yield %>
</main>
<%= render 'footer' %>
