<%= page_heading "Ausleihe" %>

<%= render 'header' %>


<nav>
	<ul class="nav">
		<li><%= link_to "Zur Ausleihe", ausleihe_path %></li>
		<li><%= link_to "zeige Ausgeliehene", ausleihe_list_path %></li>
		<li><%= link_to "zeige alle Ordner", ausleihe_folders_path %></li>
		<li>Ordnersuchen</li>
		<li>Inhaltsuchen</li>
	</ul>
</nav>
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>
<%= yield %>

<%= render 'footer' %>
