<%= page_heading "Ausleihe" %>

<%= render 'header' %>

<nav>
	<ul class="nav">
		<li>Zur Ausleihe</li>
		<li>zeige Ausgeliehene</li>
		<li>zeige alle Ordner</li>
		<li>Ordnersuchen</li>
		<li>Inhaltsuchen</li>
	</ul>
</nav>
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end -%>
<%= yield %>

<%= render 'footer' %>
