<%= render 'header' %>

<h1><%= page_title %></h1>

<nav>
	<ul class="nav">
		<li><%= link_to "Zur Ausleihe", ausleihe_path %></li>
		<li><%= link_to "Ausgeliehene", ausleihe_list_path %></li>
		<li><%= link_to "Ordner", ausleihe_folders_path %></li>
		<li><%= link_to "Inhalte", ausleihe_exams_path %></li>
	</ul>
</nav>
<% flash.each do |name, msg| -%>
    <%= content_tag :div, msg, class: name %>
<% end %>

<%= yield %>

<%= render 'footer' %>
